body {
	color: #333;
	font-family: "arial";
}

.header-contents {
	margin-left: 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	height: 100%;
	width: 80%;
}
.users{
    background-color: #e5e5e5;
}

.footer-contents {
	margin-left: 20px;
}
.user-icon{
    background-color: #f6f6f6;
    border-width:5px;
    border-color: white;
    border-style: solid none none none;
}
.account{
    width:15%;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    border-width:3px;
    border-color: #666;
    border-style: none dotted none none;
    overflow-wrap: break-word;
}

.name{
    width:15%;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    overflow-wrap: break-word;
    border-width:3px;
    border-color: #666;
    border-style: none dotted none none;
}

.branch{
    width:15%;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    border-width:3px;
    border-color: #666;
    border-style: none dotted none none;
}

.is-stopped{
    width:15%;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    border-width:3px;
    border-color: #666;
    border-style: none dotted none none;
}

.department{
    width:15%;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    border-width:3px;
    border-color: #666;
    border-style: none dotted none none;
}

.login-user-status {
    font-size:14px;
    margin-left:5px;
}

.edit-button{
    display:inline-block;
    width:5%;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:15px;
}

.Columns{
    margin-top:10px;
    font-size:15px;
    font-weight:bold;
    color: #666;
}

pre {
  white-space: pre-wrap;
  word-break:break-all;
}

.errorMessages {
    color: red;
}

h2 {
    padding: 0.5rem;
    border-left: 10px solid #3dcc9f;
}