body {
	color: #333;
	font-family: "arial";
}

.header-contents {
	margin-left: 20px;
}

.main-contents {
	margin: 20px;
	padding: 0px 10px 5px 10px;
	height: 100%;
	width: 80%;
}

.footer-contents {
	margin-left: 20px;
}

.login-button{
    margin-top:5px;
}

.Columns{
    font-size:15px;
    font-weight:bold;
}

pre {
  white-space: pre-wrap;
  word-break:break-all;
}

.errorMessages {
    color: red;
}

.error {
    color: red;
}

.tweet-box {
    margin-bottom: 5px;
    width: 85%;
    height: 56px;
}

.title-box {
    margin-bottom: 5px;
}

.category-box {
    margin-bottom:10px;
}

.form-area {
    margin-top: 10px;
}

h2 {
    padding: 0.6rem;
    border-left: 10px solid #3dcc9f;
    color: #404040;
}