.header-contents {
	margin-left: 20px;
}

nav ul{
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
}

nav li:not(:last-child){
    border-right:2px solid #ddd;
}

nav a{
    text-decoration: none;
    color: #333;
}

nav a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
}

nav a:hover{
    color:#00ccff;
    border-bottom:2px solid #00ccff;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	background-color: #ffffff;
	height: 100%;
	width: 80%;
}

.errorMessages {
    color: red;
}

.conditions{
    margin-top:3px;
    margin-bottom:3px;
}

.conditions .end{
    margin-right: 10px;
}

.messages{
    background-color: #ffffff;
    padding: 5px 0;
    border: 1px dashed #000;
}

h4{
    margin: 0 auto;
    padding: 0;
    margin-left:5px;
}

pre {
  white-space: pre-wrap;
  word-break:break-all;
}

.text{
    margin-left:5px;
}

.message-profile{
    font-size: 10px;
    color: gray;
    line-height: 0px;
    text-align: right;
    margin-right:5px;
}

.delete-button{
    display:inline-block;
    width:5%;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
}

.comments{
    background-color: #ffffff;
    border: 1px dashed #000;
    width: 95%;
    margin: 0 0 0 auto;
}

.comment-user-name{
    font-size: 10px;
    line-height: 0px;
    margin-left:5px;
    color: gray;
}

.comment{
    background-color: #ffffff;
    border-top: 1px dashed #000;
}

label{
    font-size: 12px;
}

.delete-comments-button{
    display:inline-block;
    width:5%;
    margin-top:10px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
}

.comment .Comment-box{
    height:15px;
    width:200px;
    margin-bottom:-5px;
}

.comment-button{
    display:inline-block;
    width:7%;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
}
