<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/userForm.css}" rel="styleSheet">
    <title>ユーザー編集</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザー編集</h2>
</div>
<div class="main-contents">
<!--    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">-->
<!--        <span th:text="${errorMessage}"></span>-->
<!--    </div>-->

    <form th:method="put" th:action="@{/Forum/management/update/{id}(id=${formModel.id})}" th:object="${formModel}">
        <div class="form-area">
            <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}" class="errorMessages"></div>
            <label>アカウント</label>
            <input type="text" th:field="*{account}"><br/>

            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorMessages"></div>
            <label>パスワード</label>
            <input type="password" th:field="*{password}"/></textarea><br/>

            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="errorMessages"></div>
            <label>パスワード（確認用）</label>
            <input type="password" th:field="*{confirmPassword}"><br/>

            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMessages"></div>
            <label>氏名</label>
            <input type="text" th:field="*{name}"><br/>

            <div class="is-stopped" th:if="${loginUser.id} != ${formModel.id}">
                <div th:if="${#fields.hasErrors('matchIds')}" th:errors="*{matchIds}" class="errorMessages"></div>
                <div th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}" class="errorMessages"></div>
                <label>支社</label>
                    <select name="branchId" th:field="*{branchId}">
                        <option value="" th:selected="${formModel.branchId == null}">--支社--</option>
                        <option value="1" th:selected="${formModel.branchId == 1}">本社</option>
                        <option value="2" th:selected="${formModel.branchId == 2}">A社</option>
                        <option value="3" th:selected="${formModel.branchId == 3}">B社</option>
                        <option value="4" th:selected="${formModel.branchId == 4}">C社</option>
                    </select><br/>

                <div th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" class="errorMessages"></div>
                <label>部署</label>
                <select name="departmentId" th:field="*{departmentId}">
                    <option value="" th:selected="${formModel.departmentId == null}">--部署--</option>
                    <option value="1" th:selected="${formModel.departmentId == 1}">総務人事部</option>
                    <option value="2" th:selected="${formModel.departmentId == 2}">情報管理部</option>
                    <option value="3" th:selected="${formModel.departmentId == 3}">営業部</option>
                    <option value="4" th:selected="${formModel.departmentId == 4}">技術部</option>
                </select><br/>
            </div>

            <div class="is-stopped" th:if="${loginUser.id} == ${formModel.id}">
                <input type="hidden" name="branchId" th:value="${formModel.branchId}">
                <input type="hidden" name="departmentId" th:value="${formModel.departmentId}">
            </div>

            <div class="submit-button">
                <input type="submit" value="編集" />
            </div>
        </div>
    </form>
</div>
<div class="footer-contents">
    <a th:href="@{/Forum/management}">
        <input type="submit" value="戻る" />
    </a>
</div>
</body>
</html>